{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "amd": true
    },
    "globals": {
        "GA": false
    },
    "rules": {
        "arrow-spacing": "error",
        "comma-dangle": "error",
        "dot-notation": "error",
        "eqeqeq": "error",
        "no-array-constructor": "error",
        "no-console": "warn",
        "no-continue": "error",
        "no-duplicate-imports": "error",
        "no-eval": "error",
        "no-floating-decimal": "error",
        "no-lonely-if": "warn",
        "no-multi-assign": "error",
        "no-multi-spaces": "error",
        "no-multi-str": "error",
        "no-nested-ternary": "error",
        "no-new-object": "error",
        "no-new-require": "error",
        "no-proto": "error",
        "no-throw-literal": "error",
        "no-unneeded-ternary": "error",
        "no-unused-vars": "warn",
        "no-useless-constructor": "error",
        "no-with": "error",
        "radix": "error",
        "semi": "error"
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ]
}
